main {
  display: flex;
  flex-direction: row;
}
#divList {
  width: 65%;
}
#divData {
  width: 30%;
}
#form {
  padding: 1em;
  background-color: rgba(49, 49, 49, 0.87);
  display: flex;
  flex-direction: column;
}
#form input,
select {
  margin: 1ex;
}
